@import './variables.scss';

.base {
    width: 400px;
    background-color: #373740;
    height: 100%;
}

.title {
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.list {
    padding: 10px;
}

.item {
    width: 100%;
    height: 80px;
    padding: 5px;
    display: flex;
}

.description {
    width: 100%;
}

.name {
    font-size: 14px;
}

.size {
    text-align: right;
    font-size: 12px;
}

.preview {
    height: 100%;
    flex: 0 0 100px;
    background-color: $background-color;
    margin-right: 20px;
}

.video-preview {
    width: 100%;
    height: 100%;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
}
