@import './variables.scss';

.body,
.base {
    position: relative;
    width: 100%;
    height: 100%;
}

.base {
    display: flex;
    flex-direction: column;
}

.header {
    height: 30px;
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    padding-left: 60px;
    overflow: visible;
}

.lang-selector {
    z-index: 2;
    left: 0;
    top: 0;
    position: absolute;
}

.content {
    position: relative;
    background-color: $background-color;
}

.in-dev {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-weight: 300;
    text-transform: uppercase;
    color: $text-color;
    background-color: $background-color;
    padding: 5px 10px;
    border-radius: 6px;
    opacity: 0.5;
}
